Jianting Liu(8950907)

## Challenge 3 summary
The data illustrates how the Canadian housing market has evolved over the past two decades, with significant growth in prices across all property types, driven by various economic factors. The data uses a clear comparison between different housing categories to highlight trends in both composite and specific property types, showing that larger homes (like two-storey single-family homes) experienced more extreme price fluctuations, especially during the pandemic era.
- Variables: Each column in the table is a variable.

Date is a time variable.
Composite, One_storey, Two_storey, Townhouse, and Apartment_unit are price variables.
- Features: Depending on the analysis, all variables could be used as features. In a predictive model, Date and the various price columns can serve as input features, with the goal of predicting future house prices (target variable).

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Upload an Excel file
df = pd.read_excel('News_release_chart_data_August_2024.xlsx')

# Show original data
#print(df)

# Apply some basic styling
styled_df = df.style\
    .set_table_styles(
        [{'selector': 'thead th',
          'props': [('background-color', '#4CAF50'),  # Green header background
                    ('color', 'white'),  # White text color in headers
                    ('font-weight', 'bold'),  # Bold font in headers
                    ('text-align', 'center')]}]  # Center-align headers
    )
#.highlight_max(color='green').highlight_min(color='yellow').set_properties(**{'text-align': 'center'}).format(precision=2)  

# Display the styled DataFrame in Jupyter
styled_df